In [1]:
pwd

'c:\\Users\\Lei\\Documents\\GitHub\\ant-learn-pandas'

In [2]:
import pandas as pd
df = pd.read_csv("./datas/beijing_tianqi/beijing_tianqi_2018.csv")

In [3]:
df.head()

          ymd bWendu yWendu tianqi fengxiang fengli  aqi aqiInfo  aqiLevel
0  2018-01-01     3℃    -6℃   晴~多云       东北风   1-2级   59       良         2
1  2018-01-02     2℃    -5℃   阴~多云       东北风   1-2级   49       优         1
2  2018-01-03     2℃    -5℃     多云        北风   1-2级   28       优         1
3  2018-01-04     0℃    -8℃      阴       东北风   1-2级   28       优         1
4  2018-01-05     3℃    -6℃   多云~晴       西北风   1-2级   50       优         1

In [4]:
df.set_index('ymd', inplace = True)

In [5]:
df.index

Index(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04', '2018-01-05',
       '2018-01-06', '2018-01-07', '2018-01-08', '2018-01-09', '2018-01-10',
       ...
       '2018-12-22', '2018-12-23', '2018-12-24', '2018-12-25', '2018-12-26',
       '2018-12-27', '2018-12-28', '2018-12-29', '2018-12-30', '2018-12-31'],
      dtype='object', name='ymd', length=365)

### 替换掉温度里面的非数字字符，便于处理

In [6]:
df.loc[:, 'bWendu'] = df['bWendu'].str.replace('℃', '').astype('int32')

In [7]:
df.head()

            bWendu yWendu tianqi fengxiang fengli  aqi aqiInfo  aqiLevel
ymd
2018-01-01       3    -6℃   晴~多云       东北风   1-2级   59       良         2
2018-01-02       2    -5℃   阴~多云       东北风   1-2级   49       优         1
2018-01-03       2    -5℃     多云        北风   1-2级   28       优         1
2018-01-04       0    -8℃      阴       东北风   1-2级   28       优         1
2018-01-05       3    -6℃   多云~晴       西北风   1-2级   50       优         1

In [8]:
df['yWendu'] = df['yWendu'].str.replace('℃', '').astype('int32')

In [9]:
df.head()

            bWendu  yWendu tianqi fengxiang fengli  aqi aqiInfo  aqiLevel
ymd
2018-01-01       3      -6   晴~多云       东北风   1-2级   59       良         2
2018-01-02       2      -5   阴~多云       东北风   1-2级   49       优         1
2018-01-03       2      -5     多云        北风   1-2级   28       优         1
2018-01-04       0      -8      阴       东北风   1-2级   28       优         1
2018-01-05       3      -6   多云~晴       西北风   1-2级   50       优         1

## 1. 使用单个label值查询数据

In [18]:
# 得到单个值
df.loc['2018-01-01', 'bWendu']

3

In [19]:
# 得到一个Series
df.loc['2018-01-01', ['bWendu', 'yWendu']]

bWendu     3
yWendu    -6
Name: 2018-01-01, dtype: object

In [10]:
df.loc[['2018-01-02', '2018-02-01', '2018-03-01'], 'bWendu']

ymd
2018-01-02    2
2018-02-01    4
2018-03-01    8
Name: bWendu, dtype: int32

In [11]:
df.loc['2018-01-01':'2018-01-30', 'bWendu']

ymd
2018-01-01    3
2018-01-02    2
2018-01-03    2
2018-01-04    0
2018-01-05    3
2018-01-06    2
2018-01-07    2
2018-01-08    2
2018-01-09    1
2018-01-10   -2
2018-01-11   -1
2018-01-12    2
2018-01-13    3
2018-01-14    6
2018-01-15    2
2018-01-16    4
2018-01-17    6
2018-01-18    5
2018-01-19    7
2018-01-20    3
2018-01-21    0
2018-01-22   -3
2018-01-23   -4
2018-01-24   -4
2018-01-25   -3
2018-01-26   -3
2018-01-27   -1
2018-01-28   -1
2018-01-29    1
2018-01-30    4
Name: bWendu, dtype: int32

In [14]:
df.loc['2018-01-01':'2018-01-10', 'bWendu':'aqi']

            bWendu  yWendu tianqi fengxiang fengli  aqi
ymd
2018-01-01       3      -6   晴~多云       东北风   1-2级   59
2018-01-02       2      -5   阴~多云       东北风   1-2级   49
2018-01-03       2      -5     多云        北风   1-2级   28
2018-01-04       0      -8      阴       东北风   1-2级   28
2018-01-05       3      -6   多云~晴       西北风   1-2级   50
2018-01-06       2      -5   多云~阴       西南风   1-2级   32
2018-01-07       2      -4   阴~多云       西南风   1-2级   59
2018-01-08       2      -6      晴       西北风   4-5级   50
2018-01-09       1      -8      晴       西北风   3-4级   34
2018-01-10      -2     -10      晴       西北风   1-2级   26

## 条件查询

In [31]:
df.loc[df['bWendu']>3].size

2488

In [42]:
df.loc[(df['bWendu']<30) & (df['yWendu']>20)]

            bWendu  yWendu  tianqi fengxiang fengli  aqi aqiInfo  aqiLevel
ymd
2018-05-16      29      21   多云~小雨        东风   1-2级  142    轻度污染         3
2018-07-11      25      22  雷阵雨~大雨       东北风   1-2级   44       优         1
2018-07-12      27      22      多云        南风   1-2级   46       优         1
2018-07-13      28      23     雷阵雨        东风   1-2级   60       良         2
2018-07-17      27      23  中雨~雷阵雨        西风   1-2级   28       优         1
2018-07-24      28      26  暴雨~雷阵雨       东北风   3-4级   29       优         1
2018-08-07      29      24  雷阵雨~中雨       东南风   1-2级   85       良         2
2018-08-08      29      24   雷阵雨~阴       东北风   1-2级   45       优         1
2018-08-14      29      24   中雨~小雨       东北风   1-2级   42       优         1
2018-08-18      28      23   小雨~中雨        北风   3-4级   40       优         1
2018-08-19      26      23   中雨~小雨       东北风   1-2级   37       优         1
2018-08-22      28      21  雷阵雨~多云       西南风   1-2级   48       优         1
2018-08-28      29      22   小雨~多云        南风   1-2级   58       良         2