# Pandas的数据转换函数map, apply, applymap
1. map:只用于Series，实现每个值 -> 值的映射
2. apply：可用于Series实现每个值 -> 值的映射，也可以用于Datafram实现单个轴的Series处理
3. applymap：只用于Dataframe，实现每个元素的处理

In [1]:
import pandas as pd 
stocks = pd.read_excel('./datas/stocks/互联网公司股票.xlsx')
stocks.head()

           日期    公司      收盘      开盘       高       低    交易量   涨跌幅
0  2019-10-03  BIDU  104.32  102.35  104.73  101.15   2.24  0.02
1  2019-10-02  BIDU  102.62  100.85  103.24   99.50   2.69  0.01
2  2019-10-01  BIDU  102.00  102.80  103.26  101.00   1.78 -0.01
3  2019-10-03  BABA  169.48  166.65  170.18  165.00  10.39  0.02
4  2019-10-02  BABA  165.77  162.82  166.88  161.90  11.60  0.00

In [3]:
ls = list(stocks['公司'].unique())

In [4]:
ls

['BIDU', 'BABA', 'IQ', 'JD']

In [9]:
dict_company_names = {
    ls[0]:'百度',
    ls[1]:'阿里巴巴',
    ls[2]:'爱奇艺',
    ls[3]:'京东'
}

In [6]:
dict_company_names

{'BIDU': '百度', 'BABA': '阿里巴巴', 'IQ': '爱奇异', 'JD': '京东'}

In [10]:
stocks['公司中文'] = stocks['公司'].map(dict_company_names)

In [11]:
stocks

            日期    公司      收盘      开盘       高       低    交易量   涨跌幅  公司中文
0   2019-10-03  BIDU  104.32  102.35  104.73  101.15   2.24  0.02    百度
1   2019-10-02  BIDU  102.62  100.85  103.24   99.50   2.69  0.01    百度
2   2019-10-01  BIDU  102.00  102.80  103.26  101.00   1.78 -0.01    百度
3   2019-10-03  BABA  169.48  166.65  170.18  165.00  10.39  0.02  阿里巴巴
4   2019-10-02  BABA  165.77  162.82  166.88  161.90  11.60  0.00  阿里巴巴
5   2019-10-01  BABA  165.15  168.01  168.23  163.64  14.19 -0.01  阿里巴巴
6   2019-10-03    IQ   16.06   15.71   16.38   15.32  10.08  0.02   爱奇艺
7   2019-10-02    IQ   15.72   15.85   15.87   15.12   8.10 -0.01   爱奇艺
8   2019-10-01    IQ   15.92   16.14   16.22   15.50  11.65 -0.01   爱奇艺
9   2019-10-03    JD   28.80   28.11   28.97   27.82   8.77  0.03    京东
10  2019-10-02    JD   28.06   28.00   28.22   27.53   9.53  0.00    京东
11  2019-10-01    JD   28.19   28.22   28.57   27.97  10.64  0.00    京东

In [12]:
stocks['公司中文2'] = stocks['公司'].map(lambda x: dict_company_names[x])

In [13]:
stocks

            日期    公司      收盘      开盘       高       低    交易量   涨跌幅  公司中文 公司中文2
0   2019-10-03  BIDU  104.32  102.35  104.73  101.15   2.24  0.02    百度    百度
1   2019-10-02  BIDU  102.62  100.85  103.24   99.50   2.69  0.01    百度    百度
2   2019-10-01  BIDU  102.00  102.80  103.26  101.00   1.78 -0.01    百度    百度
3   2019-10-03  BABA  169.48  166.65  170.18  165.00  10.39  0.02  阿里巴巴  阿里巴巴
4   2019-10-02  BABA  165.77  162.82  166.88  161.90  11.60  0.00  阿里巴巴  阿里巴巴
5   2019-10-01  BABA  165.15  168.01  168.23  163.64  14.19 -0.01  阿里巴巴  阿里巴巴
6   2019-10-03    IQ   16.06   15.71   16.38   15.32  10.08  0.02   爱奇艺   爱奇艺
7   2019-10-02    IQ   15.72   15.85   15.87   15.12   8.10 -0.01   爱奇艺   爱奇艺
8   2019-10-01    IQ   15.92   16.14   16.22   15.50  11.65 -0.01   爱奇艺   爱奇艺
9   2019-10-03    JD   28.80   28.11   28.97   27.82   8.77  0.03    京东    京东
10  2019-10-02    JD   28.06   28.00   28.22   27.53   9.53  0.00    京东    京东
11  2019-10-01    JD   28.19   28.22   28.57   27.97  10.64  0.00    京东    京东