# 数据清洗-缺失值处理，字符串处理

In [2]:
import pandas as pd

stu_df = pd.read_excel("./datas/student_excel/student_excel.xlsx", skiprows = 2)

In [3]:
stu_df

    Unnamed: 0   姓名   科目    分数
0          NaN   小明   语文  85.0
1          NaN  NaN   数学  80.0
2          NaN  NaN   英语  90.0
3          NaN  NaN  NaN   NaN
4          NaN   小王   语文  85.0
5          NaN  NaN   数学   NaN
6          NaN  NaN   英语  90.0
7          NaN  NaN  NaN   NaN
8          NaN   小刚   语文  85.0
9          NaN  NaN   数学  80.0
10         NaN  NaN   英语  90.0

In [5]:
stu_df.loc[stu_df['分数'].notnull(), :]

    Unnamed: 0   姓名  科目    分数
0          NaN   小明  语文  85.0
1          NaN  NaN  数学  80.0
2          NaN  NaN  英语  90.0
4          NaN   小王  语文  85.0
6          NaN  NaN  英语  90.0
8          NaN   小刚  语文  85.0
9          NaN  NaN  数学  80.0
10         NaN  NaN  英语  90.0

In [6]:
# 删除掉全是空值的列
stu_df.dropna(axis = 'columns', how = 'all', inplace = True)

In [7]:
stu_df

     姓名   科目    分数
0    小明   语文  85.0
1   NaN   数学  80.0
2   NaN   英语  90.0
3   NaN  NaN   NaN
4    小王   语文  85.0
5   NaN   数学   NaN
6   NaN   英语  90.0
7   NaN  NaN   NaN
8    小刚   语文  85.0
9   NaN   数学  80.0
10  NaN   英语  90.0

In [9]:
# 分数列为空值的单元填充为 0
stu_df.fillna({'分数':0})
# 等同于 stu_df.loc[:, '分数] = stu_df['分数'].fillna(0)

     姓名   科目    分数
0    小明   语文  85.0
1   NaN   数学  80.0
2   NaN   英语  90.0
3   NaN  NaN   0.0
4    小王   语文  85.0
5   NaN   数学   0.0
6   NaN   英语  90.0
7   NaN  NaN   0.0
8    小刚   语文  85.0
9   NaN   数学  80.0
10  NaN   英语  90.0